.logo{
    width:20%;
    margin-left: 0.2em;
    font-size: 1.5em;
}
.navList{
    margin-left: 10%;
    width: 70%
}
.navList li a{
    font-size: 0.8em;
}
.headLines{
    grid-column: 1/ 4
}
.latestStories{
    grid-column: 2 / 4
}
.head_3 img{
    display: none
}
.sub_3{
    padding-left:0.5em;
    width:100%;
}
footer p{
    font-size: 1.2em
}